@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales pequeños para darle tu toque */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #020617; /* slate-950 */
  color: #e5e7eb;           /* slate-200 */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
